*.DS_Store
exploresc-server/db.sqlite3
exploresc-server/exploresc/__pycache__/
exploresc-server/exploresc/settings.py
exploresc-server/api/__pycache__/
exploresc-server/ENV/*
.vscode
exploresc-server/api2/ENV
exploresc-server/api2/db-config.py
exploresc-server/api2/sceposts.json
exploresc-server/api2/*markers.json
exploresc-server/api2/__pycache__/
exploresc-server/api2/*swp
exploresc-server/tileserver/postgresql/south-carolina-latest.osm.pbf